.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

img.sidebar-icon {
  height: auto;
  display: block;
  width: 24px;
}

.mr-10 {
  margin-right: 10px;
}

.content {
  padding: 5px;
}

.search-wrapper {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
}

.search-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.search-wrapper input {
  padding: 8px 8px 8px 60px;
  background: none;
  color: currentColor;
  border: 0;
  font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1875em;
}

.search-wrapper input:focus {
  outline: 0;
}

.search-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.50);
}

.search-icon {
  width: 72px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}