<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">App Store</h1>

    <div class="search-wrapper" style="margin-left: 10px;">

      <div class="search-icon">
        <fa-icon [icon]="faSearch"></fa-icon>
      </div>

      <input placeholder="Search..." ([ngModel])="search" />
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <mat-list-item *ngFor="let type of appTypes">
          <img class="sidebar-icon mr-10" src="{{type.icon}}" />
          {{type.description}}
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
          <app-app-list title="{{getAllLabel()}}" [apps]="apps" searchable="true" [search]="search"></app-app-list>
          <app-app-list title="Recently Added" [apps]="recentlyAdded" searchable="false"></app-app-list>
          <app-app-list title="Recently Updated" [apps]="recentlyUpdated" searchable="false"></app-app-list>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
