$grid-cell-width: 128px;

.app-item {
    width: $grid-cell-width;
    display: inline-block;
}

.title {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.icon {
    width: 64px;
}

.card {
    width: $grid-cell-width;
    height: $grid-cell-width;
    display: inline-block;
    margin: 1px;
}

a.link {
    text-decoration: none;
}