.h-scroll {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 42px;
  margin-left: 42px;
}

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.control {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0px;
}

.control:focus {
  outline: none;
}
